---
// Utils
import { ClientRouter } from "astro:transitions";
import type { GetImageResult } from "astro";
import "@styles/root.less";

// Components
import DynamicHeader from "@components/Header/DynamicHeader.astro";
import Footer from "@components/Footer/Footer.astro";
import Meta from "@components/Meta/Meta.astro";

// Data
import { SITE } from "@data/client";

// Create a union type for heroImage
type HeroImage = GetImageResult | ImageMetadata;

interface Props {
	title: string;
	description: string;
	heroImage?: HeroImage; // optional - passing a heroImage to BaseLayout will 1. preload the image and 2. use the image for og socials tags in the <head>
}

const { description, title, heroImage } = Astro.props as Props;
---

<html lang={SITE.locale}>
	<head>
		<!-- View Transitions support -->
		<ClientRouter />

		<!-- SEO Meta Tags -->
		<Meta title={title} description={description} heroImage={heroImage}>
			<slot name="schema" slot="schema" />
		</Meta>

		<!-- If present, preloads the image passed as a prop -->
		{heroImage && <link rel="preload" href={heroImage.src} as="image" />}

		<!-- Sitewide Scripts -->
		<script src="@js/nav.js"></script>
	</head>
	<body>
		<!-- Screen reader skip main nav -->
		<a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

		<DynamicHeader />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
